/* This is a basic stylesheet for the silly tile game */

* {
	margin: 0px;
	padding: 0px;
}

html, body { height: 100%; }

body {
	font-family: "Segoe UI", Tahoma;
	font-size: 18px;
	color: #4a4a4a;
	background-color: #fff;
}

h1, h3 { font-family: "Segoe UI Light", Tahoma; font-weight: bold; color: #4a4a4a; }
h1 { font-size: 4em; color: #369; }
ul { list-style-type: none; }
a, a:visited, a:hover, a:active { text-decoration: none; color: #369;}

.container {
    width: 54em;
    margin: 0px auto;
    height: 100%;
    overflow: hidden;
}

#header h1 { float: left; }
#header div { float: right; margin-top: 1em;}
#header div a { display: block; font-size: 1.2em; }

#gameBoard {
    clear: both;
	height: 300px;
	position: relative;
    border: 1px solid #333;
    background-color: #ededed;
}

.gamePiece {
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	height: 70px;
	width: 70px;
	cursor: pointer;
}

.tile1 {background-image: url(../images/tile_1.gif);}
.tile2 {background-image: url(../images/tile_2.gif);}
.tile3 {background-image: url(../images/tile_3.gif);}
.tile4 {background-image: url(../images/tile_4.gif);}

.highlighter {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .6;
	filter: alpha(opacity=50);
	background-repeat: no-repeat;
	background-position: center;
}

.match1 {background-image: url(../images/match_1.gif);}
.match2 {background-image: url(../images/match_2.gif);}
.match3 {background-image: url(../images/match_3.gif);}
.match4 {background-image: url(../images/match_4.gif);}

#statPanel ul { float: left; margin-right: 1em; }
#statPanel ul#scoreInfo { float: right; width: 10em;}
#statPanel ul#scoreInfo li { text-align: right; }

#gameActions { text-align: center; padding: 1em;}
#gameActions a { cursor: pointer; font-size: 2em;}
#gameActions a#btnRoll { margin-right: 1em; }
#gameActions a#btnTake { margin-left: 1em; }
